################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRM-Backend/.vs/CRM-Backend/FileContentIndex/02f47797-031b-42e1-b226-41d4d697fd33.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/21c3a011-79ed-4cff-a409-4707e107ac2b.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/35bf4395-af76-4dd3-865a-5c3ee2dae1fd.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/3735daa2-3712-4aaf-9f82-b5e58e7d6faf.vsidx
