################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRM-Backend/.vs/CRM-Backend/FileContentIndex/02f47797-031b-42e1-b226-41d4d697fd33.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/21c3a011-79ed-4cff-a409-4707e107ac2b.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/35bf4395-af76-4dd3-865a-5c3ee2dae1fd.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/3735daa2-3712-4aaf-9f82-b5e58e7d6faf.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/0956947b-b1d9-4a11-98f8-fd1408e71f5d.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/09fe5e34-1569-47dc-bcb5-e858008c325f.vsidx
/CRM-Backend/.vs/CRM-Backend/FileContentIndex/fb2ea88e-1211-43f6-81f6-240e9f93a3b7.vsidx
/CRM-Backend/CRM-API/obj/Debug/net6.0/CRM-API.csproj.AssemblyReference.cache
/CRM-Backend/.vs/CRM-Backend/DesignTimeBuild/.dtbcache.v2
/CRM-Backend/.vs/CRM-Backend/v17/.suo
/CRM-Backend/CRM-WebApp
/CRM-Backend/CRMWebAPI
/CRM-Backend/CRM-WebAPI
